<div class="card">
  <h2>{{ title }}</h2>
  <p>{{ text }}</p>
  <strong>Number: {{ number }}</strong>
  <em>{{ array }}</em>
  <p>{{ obj | json}}</p>
  <p>{{ getInfo() }}</p>


  <div>
    <!--  <img src="{{ imgUrl }}" alt="just img">-->
    <!--  баиндим динамическую переменную через квадратные скобки -->
    <img [src]="imgUrl" alt="just img">
    <br>
    <button [disabled]="disabled">Enable</button>
  </div>

  <div>
    <hr>
    <strong> {{ cardDate | date }} </strong>
    <br>
    <span> {{ cardDate | date:'mediumTime' }} </span>
    <br>
    <span> Custom time settings:  </span>
    <strong style="background-color: bisque"> {{ cardDate | date:'d MMMM yyyy HH:mm:ss':'':'ru' }} </strong>
  </div>
</div>
