<div class="card">
  <h2>{{ title }}</h2>
  <h2 [ngStyle]="{
  color: title.length < 5 ? 'orange' : 'green',
  fontWeight: title.length < 8 ? 'normal' : 'bold'
}">{{ title }}</h2>
  }
  <p>{{ text }}</p>
  <strong>Number: {{ number }}</strong>

  <p class="text">{{ text }}</p>


  <p class="text" [ngClass]="{
  green: textColor === 'green',
  red: textColor === 'red'
    }">{{ text }}</p>

  <p
    class="text"
    [class.green]="textColor === 'green'"
    [class.red]="textColor === 'red'"
  >{{ text }}</p>


  <div class="buttons">
    <button (click)="changeTitle()"> Change title</button>
    <button (click)="title = 'Inline title'"> Change title inline</button>

    <button (click)="textColor = 'red'">Set Red</button>
    <button (click)="textColor = 'green'">Set Green</button>
  </div>

  <div class="inputs">
    <input type="text" (input)="inputHandle($event)" [value]="title">
    <input type="text" #myInput (input)="secondInputHandle(myInput.value)"
           [value]="title">

    <!--     - не забыть подключить модуль FormComponent -->
<!--    <input type="text" [(ngModel)]="title" (ngModelChange)="changeHandleByModel()" )>-->
  </div>
</div>
