.card {
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;

  h2 {
    margin-bottom: .5rem;
  }

  .text {
    font-size: 1.5rem;

    &.red {
      color: darkred;
      background-color: burlywood;
    }
    &.green{
      color:darkgreen;
      background-color: antiquewhite;
    }
  }
  .buttons {
    margin: .5rem 0;

    button {
      margin-right: .5rem;
      padding: .5rem;
    }
  }

  .inputs {
    margin: .5rem 0;

    input {
      margin-right: .5rem;
      padding: .5rem;
    }
  }
}
